<app-navbar></app-navbar>
<!-- <div class='container'>
  <div class='window'> -->
    <div class='maincontainer'>
        <div class='content'>
          <div class='welcome'>Welcome Back!</div>
          <!-- <div class='subtitle'></div> -->
          <div class='input-fields'>

            <input type='email' placeholder='Email' class='input-line full-width' id="Email">
            <input type='password' placeholder='Password' class='input-line full-width' id="Password">

          </div>

          <div class='spacing'>Don't have an Account ?  <span class='highlight' [routerLink]="['/signup']">Sign Up</span></div>
          <div><button class='ghost-round full-width' (click)="checklogin()" >Log In</button></div>
          <div><button class='ghost-round full-width' *ngIf="temp"  [routerLink]="['']">Dashboard</button></div>
        </div>
        
        </div>
      <!-- </div>
    </div> -->