<app-navbar></app-navbar>

    <div class='maincontainer'>
        <div class='content'>
              <form>
                  <div class='welcome'>SIGN-UP</div>

                  <div class='input-fields'>

                    <input type='text' placeholder='Name' id="Name" class='input-line full-width' required>
                    <input type='email' placeholder='Email' id="Email" class='input-line full-width' required>
                    <input type='password' placeholder='Password' id="Password" class='input-line full-width' required>
                    <input type='text' placeholder='Country'  id="Country" class='input-line full-width' required>

                    <div class='spacing'>or continue with <span class='highlight'>Facebook</span></div>

                    <div><button type="submit" class='submit-btn full-width'  (click)="sendsignupdata()">Create Account</button></div>
                    <div><button type="submit" class='submit-btn full-width' *ngIf="temp" routerLink="/">Dashboard</button></div>

                  </div>
              </form>
        </div>
  
    </div>
  