<app-navbar></app-navbar>

<div class="wrap-content">
    <div class="cont1">
        <div class="content1">
            <p>{{course.cTitle}}</p>
        </div>
        <div class="content12">
            <p>{{course.cTitle}}</p>
        </div>
        <div class="content2">
            <p>{{course.cOverview}}</p>
        </div>

        <div class="content3"     >
            <button *ngIf="!course.cEnroll" (click)="enrollednow(course.cEnroll)">Enroll</button>
            <button *ngIf="course.cEnroll" (click)="enrollednow(course.cEnroll)"><span>Enrolled</span> <fa-icon [icon]="['fas', 'check']" [styles]="{color : 'white' , background : 'none' }" size="1x"></fa-icon></button>
            <button *ngIf="course.cEnroll" ><span>Start Watching</span> <fa-icon [icon]="['fas', 'tv']" [styles]="{color : 'white' , background : 'none' }" size="1x"></fa-icon></button>
        </div>

        

    </div>

    <div class="cont2">
        <div class="videoalign">
        <video controls height="350px" width="580px" >
            <source src="/assets/Workhub.mp4" type="video/mp4">
        </video>
    </div>
    </div>
</div>


<div class="keyhead">
    Key <b>Highlights</b>
</div>
<div class="keyhighlights">
    <div class="keyhighlights1">
        <span><fa-icon [icon]="['far', 'bell']" ></fa-icon></span>
        <div class="keycontent">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="keyhighlights1">
        <span><fa-icon [icon]="['far', 'bell']" ></fa-icon></span>
        <div class="keycontent">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="keyhighlights1">
        <span><fa-icon [icon]="['far', 'bell']" ></fa-icon></span>
        <div class="keycontent">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="keyhighlights1">
        <span><fa-icon [icon]="['far', 'bell']" ></fa-icon></span>
        <div class="keycontent">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="keyhighlights1">
        <span><fa-icon [icon]="['far', 'bell']" ></fa-icon></span>
        <div class="keycontent">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="keyhighlights1">
        <span><fa-icon [icon]="['far', 'bell']" ></fa-icon></span>
        <div class="keycontent">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="keyhighlights1">
        <span><fa-icon [icon]="['far', 'bell']" ></fa-icon></span>
        <div class="keycontent">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="keyhighlights1">
        <span><fa-icon [icon]="['far', 'bell']" ></fa-icon></span>
        <div class="keycontent">Lorem ipsum dolor sit amet.</div>
    </div>
</div> 


<!-- <div class="navsection">
    <nav class="navbar">
    
        <ul class="nav-list">
            <li class ="active">
                <a href="#hg">Overview</a>
            </li>
            <li id ="nav-item">
                <a href="#overview-section" data-scroll="overview-section">Overview</a>
            </li>
            <li id ="nav-item">
                <a href="#overview-section" data-scroll="overview-section">Overview</a>
            </li>
            <li id ="nav-item">
                <a href="#overview-section" data-scroll="overview-section">Overview</a>
            </li>
            <li id ="nav-item">
                <a href="#overview-section" data-scroll="overview-section">Overview</a> 
            </li> 
        </ul>
    </nav>
</div>   -->
<!-- // Overview -->
     <div class="CourseOverview">
        <div class="overviewhead">
            <b>Course</b>
        </div>
    <div id="hg">{{course.cOverview}}</div>
    </div>
<div class="curriculum">
<div class="curriculumhead">
    <b>Curriculum</b>
</div> 


  <accordion [isAnimated]="true">
    <accordion-group *ngFor="let c of curriculum" [heading]="c.section">
        <ul>
            <li *ngFor="let i of c.content">{{i.name}}</li>
            <!-- <li><a href="http://www.google.com">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="http://www.google.com">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="http://www.google.com">Lorem ipsum dolor sit amet.</a></li> -->
        </ul>
    </accordion-group>
  
    <!-- <accordion-group heading="Header2">
        <ul>
            <li><a href="http://www.google.com">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="http://www.google.com">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="http://www.google.com">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="http://www.google.com">Lorem ipsum dolor sit amet.</a></li>
        </ul>
    </accordion-group>
  
    <accordion-group heading="Header3">
        <ul>
            <li><a href="http://www.google.com">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="http://www.google.com">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="http://www.google.com">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="http://www.google.com">Lorem ipsum dolor sit amet.</a></li>
        </ul>
    </accordion-group>
  
    <accordion-group heading="Header4">
        <ul>
            <li><a href="http://www.google.com">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="http://www.google.com">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="http://www.google.com">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="http://www.google.com">Lorem ipsum dolor sit amet.</a></li>
        </ul>
    </accordion-group> -->
</accordion>
</div>

<div class="reviewcont">
    <div class="reviewhead">
    <h2>Course Rating : {{getrating(review)}}/10</h2>
</div>
<div class="revform">
    <form [formGroup]="reviewForm">
    
        <label for="text">Your Feedback : </label>
        <input id="text" type="text" formControlName="text" placeholder="Write review..">
      
        <label for="rating">Rating : </label>
        <input id="rating" type="number" formControlName="rating" placeholder="Out of 10">
    
        <button type="button" (click)="onSubmit()">Submit</button>
      
    </form>
    </div>
<div class="revmain">
    <div class="review">
    <div class="card" *ngFor="let r of review">
        
        <div class="card-body">
          <h5 class="card-title">{{r.rating}}/10</h5>
          <p class="card-text">{{r.text}}</p>
        </div>
    </div>
</div>
</div>


</div>