<app-navbar></app-navbar>

<div class="container-fluid ">
    <div class="intro">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sit corrupti odio amet eveniet id vitae at suscipit hic, officiis perspiciatis iste excepturi accusamus rerum impedit velit modi iure eligendi.
    </div>
    <div class="buttons">
        <button type="button" [routerLink]="['/login']">Log in </button>
        <button type="button" [routerLink]="['/explorecourses']">Explore Courses </button>
    </div>
</div>


<div class="about">

        <div class="g1">
            <fa-icon [icon]="['fas', 'chalkboard-user']" [styles]="{ }" size="3x"></fa-icon>
            <p>Learn anything</p>
            <p>Explore any interest or trending topic, take prerequisites, and advance your skills</p>
        </div>
        <div class="g2">
            <fa-icon [icon]="['fas', 'money-check-dollar']" [styles]="{ }" size="3x"></fa-icon>
            <p> Money save</p>
            <p>Spend less money on your learning if you plan to take multiple courses this year</p>
            
            
            
        </div>
        <div class="g3">
            <fa-icon [icon]="['fas', 'school']" [styles]="{ }" size="3x"></fa-icon>
            <p>Flexible learning</p>
            <p>Learn at your own pace, move between multiple courses, or switch to a different course</p>
            
            
            
        </div>
        <div class="g4">
            <fa-icon [icon]="['far', 'hand-peace']" [styles]="{ }" size="3x"></fa-icon>
            <p>Unlimited certificates</p>
            <p>Earn a certificate for every learning program that you complete at no additional cost</p>
            
            
        </div>
        
        
</div>

 
<app-courses></app-courses>
 

 <!-- <app-signup></app-signup>

 <app-login></app-login> -->